[Desktop Entry]
Type=Application
Name=TV Kiosk
Comment=Dashboard guida TV + speedtest a schermo intero
Exec=__CHROME__ --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --overscroll-history-navigation=0 --password-store=basic --lang=it --disable-features=Translate,TranslateUI --incognito http://localhost:8080/
X-GNOME-Autostart-enabled=true
